body {
	display: block;
	height: 80%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	&.desktop {
		background-image: url(../img/Windows_95_by_clutch.jpg);
	}
}